@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
:root{
     --font-main-heading:"IBM Plex Sans", sans-serif;
     --font-texts:"Source Sans 3", sans-serif;
     --logo-font:"Ubuntu Sans", sans-serif;
     --white:#fff;
     --black:#000;
     --link:rgb(11, 11, 151);
}
body{
     font-family:var(--font-texts);
     transition:0.5s ease-in-out;
     font-size:16px;
}
a,li,ul{
     text-decoration:none;
     list-style: none;
}
.page-navigation{
     /* background-color:yellow; */
     width:100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.logo{
     width:40%;
     background-color:#fff;
     padding:5px 10px;
     border-radius:3px;
   
}
.logo img ,.image-container img{
     width:100%;
}
.container-wrap{
     padding:1em 2em;
     /* text-align:center; */
     display: flex;
     flex-direction: column;

}
.heading h2{
     font-weight:600;
     font-size:1.8em;
     font-family:var(--font-main-heading);
}
.desc h3{
     font-weight:400;
     text-align:justify;
     line-height:2em;
     font-size:1.2em;
     opacity:0.9;
}
.theme-btn{
     padding:.7em;
     background-color:rgb(11, 11, 151);
     border:none;
     color:#fff;
     border-radius:5px;
     transition:0.5s ease;
}
.theme-btn:active{
     transform:scale(0.8);
}
.image-container{
     width:80%;
     display: flex;
     justify-content: center;
 
}
.image-container img{
     width:100%;
}
.img{
     border-radius:10px;
}
.footer{
     margin:0;
     padding:0;
     margin-top:2em;
     background:rgb(4, 4, 56);
     color:#fff;
     padding:2em;
     border-radius:10px;
     font-size:1em;
     display: flex;
     flex-direction: column;
     gap:.5em;
}
.dark{
     font-weight:600;
}
.Flogo{
     font-weight:730;
     font-size:1.3em;
     font-family:var(--logo-font);
     align-self: flex-end;
}
.fquote{
     padding: 1em 0em;
     display: flex;
     align-items: center;
     justify-content: center;
     width:100%;
}
.light{
     font-weight:normal;
     font-size:0.8em;
}
.eqn{
     font-size:1.5em;;
}
.connect a{
     color:#fff;
}
.connect{
     display: flex;
     justify-content: flex-start;
     align-items: center;
}
.connect ul{
     display: flex;
     gap:15px;
     margin-left:-2em;
}
.copyright{
     opacity:0.7;
}
.diagram{
     display: flex;
     justify-content: center;
     width:100%;
}
.diagram img{
     width:100%;
}
.image-banner{
     width:100%;
     border-radius:10px;
     /* background-color:#81a2aa; */
     display: flex;
     justify-content:center;
     padding-bottom:2em;
}
.image-banner img{
     width:90%;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple shadow */
     border-radius:10px;
}
.dig{
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     overflow: hidden;
     height:auto;
     /* background-color: yellow; */
}
.dig img{
     width: 90%;
     height:100%;
     object-fit: contain;
     border-radius:10px;
}
.normal-img-div{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
.normal-img{
width:100%;
}
.italic{
     font-style: italic;
}
.highlighter{
     background-color:yellow;
     padding:5px;
     color:#000;
}
@media screen and (max-width:480px) {
     body{
          font-size:13px;
     }
     .logo{
          width:50%;
     }

     .image-banner img{
          width:90%;
     }
     .dig img{
          width:90%;  
     }

     
}
@media screen and (min-width:700px) and (max-width:1024px){
     body{
        
          font-size:15px;
     }
     .logo{
          width:30%;
     }
     .image-container{
          width:40%;
     }
     .dig img{
          width:70%;
     }
     .theme{
          margin-right:5em;
     }
     .image-banner{
          justify-content:center;
   }
   .image-banner img{
     width:60%;
}
}

@media screen and (min-width:1024px) and (max-width:1624px){
body{
     font-size:17px;
}
.logo{
     width:28%;
     cursor:pointer;
}
.theme{
     margin-right:5em;
}
.image-container{
     width:38%;
}
.container-wrap{
     padding:0em 12em;
}
.dig img{
     width:72%;
}
.image-banner img{
     width:60%;
}
}
@media screen and (min-width:1624px) {
     body{
         
          font-size:18px;
     }
     .logo{
          width:15%;
          cursor:pointer;
     }
     .image-container{
          width:40%;
     }
     .image-banner img{
          width:50%;
     }

     .dig img{
          width:60%;
     }
     .theme{
          margin-right:5em;
     }
     .container-wrap{
          padding:0em 20em;
     }
}